.about{
    background-color: var(--color-black);
     overflow: hidden;
     padding-bottom: 150px;
     &__title{
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        text-align: center;
        color: var(--color-light);
        padding-top: 150px;
        padding-bottom: 16px;
    }
    &__descr{
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        color: var(--color-light);
        padding-bottom: 70px;
    }

    &__row{
        display: flex;
        column-gap: 87px;
    }

    &__text{
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: var(--color-slight);
    }

    &__read{
        font-weight: 700;
        color: var(--color-light);
         background: none;
            border: none;
            outline: none;
            padding: 0;
            transition: 0.3s ease-in-out;
    }

    &__read:hover{
          transform: scale(1.2);
          padding-left: 10px;
    }
}
@media screen and (max-width: 890px) {
    .about__row {
        display: flex;
        flex-direction: column; /* Элементы встают друг под друга */
        align-items: center;    /* Центрируем колонку по горизонтали */
        gap: 30px;              /* Расстояние между текстом и видео */
    }

    .about__text {
        order: 1;               
        max-width: 320px;       
        text-align: center;      
        margin: 0 auto;         
        
    }

    /* Если видео вставлено через iframe (YouTube) */
    iframe {
        order: 2;               /* Видео снизу */
        width: 100%;            /* Растягиваем на доступную ширину */
        max-width: 100%;        /* Чтобы не вылезало за границы */
        height: auto;
        aspect-ratio: 16 / 9;   /* Сохраняем пропорции видео */
    }
}