body{
    font-family: var(--font-family);
    margin: 0;
        overflow-x: hidden;
    width: 100%;
}


html{
     margin: 0;
         overflow-x: hidden;
    width: 100%;
}
a {
    text-decoration: none;
}
ul{
   list-style:none;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}



* {
      margin: 0;
  padding: 0;
  box-sizing: border-box;
    box-sizing: border-box;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}