:root{
    --font-family: "Inter";
    --color-light: #fff;
    --color-dark: #000;
    --color-black: #0D0D0D;
    --color-red:    #FF0000;   
    --color-darkgray: #191919;
    --color-slight: #eee;
}