.categories {
    

    &__title{
        font-weight: 700;
        font-size: 18px;
        line-height: 89%;
        color: var(--text-color);
        padding-top: 14px;
        padding-bottom: 7px;
        padding-left: 18px;
    }
    &__list{
        display: flex;
        flex-direction: column;
    }
    &__item{
        padding-bottom: 10px;
        font-size: 15px;
        line-height: 267%;
        font-weight: 400;
        color: var(--text-color);
        padding-left: 30px;
    }
}