:root {
  --font-family: "PublicSans", sans-serif;
  --content-width: 1152px;
  --container-offset: 15px;
	--second-family: "LibreBaskerville", sans-serif;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));


  --main-size:13px;
  --second-size:15px;

  --offset: 32px;

  --light-color: #fff;
  --accent-color: #00a1ff;
  --active-color: #e00e00;
  --text-color: rgba(53,83,98,0.8);
  --dark-color: #003331;
}
