@mixin font-face($font-name, $file-name, $weight: 400, $style: normal) {
  @font-face {
    font-family: "#{$font-name}";
    src: url("/fonts/#{$file-name}.woff2") format("woff2");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

